<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" href="style.css">

	<!--Scripts-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="first.js"></script>
<!--Metas-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">


	<title>MySlide</title>
</head>
<body>
<div class="background">
	<div id="container_slideshow">
		Container
     <div id="big">
     	big
     </div>

     <div class="slides"> 
      <div class="slide-control left"></div>
      <div class="slide-control right"></div>
<div class="container">
      <div class="thumb one" onclick="clickFunction(0)">
        I AM NUMBERONE
      	<img src="http://assets22.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </div>
      <div class="thumb two"onclick="clickFunction(1)">
      <img src="http://cdn.bulbagarden.net/upload/thumb/f/fb/143Snorlax.png/250px-143Snorlax.png">
      </div>
      <div class="thumb three"onclick="clickFunction(2)">
      <img src="http://img2.wikia.nocookie.net/__cb20140410200831/pokemon/images/0/02/025Pikachu_Dream.png">
      </div>
      <div class="thumb four"onclick="clickFunction(3)">
      <img src="http://pre03.deviantart.net/27f2/th/pre/f/2012/218/0/7/_004_charmander___1st_attempt_sugimori_style_by_white__flame-d59zqwh.png">
      </div>
<div class="thumb four"onclick="clickFunction(3)">
      <img src="http://pre03.deviantart.net/27f2/th/pre/f/2012/218/0/7/_004_charmander___1st_attempt_sugimori_style_by_white__flame-d59zqwh.png">
      </div>
<div class="thumb four"onclick="clickFunction(3)">
      <img src="http://pre03.deviantart.net/27f2/th/pre/f/2012/218/0/7/_004_charmander___1st_attempt_sugimori_style_by_white__flame-d59zqwh.png">
      </div>
<div class="thumb four"onclick="clickFunction(3)">
      <img src="http://pre03.deviantart.net/27f2/th/pre/f/2012/218/0/7/_004_charmander___1st_attempt_sugimori_style_by_white__flame-d59zqwh.png">
      </div>
<div class="thumb four"onclick="clickFunction(3)">
      <img src="http://pre03.deviantart.net/27f2/th/pre/f/2012/218/0/7/_004_charmander___1st_attempt_sugimori_style_by_white__flame-d59zqwh.png">
      </div>
      <div class="thumb three"onclick="clickFunction(2)">
        I AM NUMBER LAST!
      <img src="http://img2.wikia.nocookie.net/__cb20140410200831/pokemon/images/0/02/025Pikachu_Dream.png">
      </div>




</div><!--Container-->
     </div>





	</div>
	</div>


</body>
</html>